.lobby {
    margin-bottom: 120rem;
    &__content {
        position: relative;
        &_text {
            z-index: 99;
            background-image: url(/images/home/apartments/apartments-text.svg);
            background-size: contain;
            background-repeat: no-repeat;
            width: 587rem;
            height: 602rem;
            position: absolute;
            top: -1rem;
            bottom: -1rem;
            left: -1rem;
            text-align: end;
            :global(.title-b) {
                position: absolute;
                margin-bottom: 0;
                top: 50%;
                transform: translate(-50%, -50%) rotate(-90deg);
                left: 20rem;
            }
            :global(.paragraph) {
                margin-left: auto;
                max-width: 500rem;
            }
        }
        &_bottom {
            display: flex;
            gap: 40rem;
        }
    }
    &__card_text {
        position: absolute;
        width: 100%;
        max-width: 920rem;
        padding: 20rem;
        color: var(--main-white);
        h3 {
            font-size: 32rem;
            margin-bottom: 20rem;
        }
        p {
            font-size: 16rem;
        }
    }

    @media screen and (max-width: 1280px) {
        margin-bottom: 120rem;
        &__content {
            &_cards {
                flex-direction: column;
                &__item {
                    width: 100%;
                    height: 109rem;
                    &:nth-child(1) {
                        height: 409rem;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 500px) {
        &__content {
            &_cards {
                flex-direction: column;
                div {
                    width: 100%;
                    height: 230rem;
                }
            }
        }
    }
}