.location {
    margin-bottom: 60rem;
    &__content {
        position: relative;
        display: flex;
        gap: 20rem;
        justify-content: space-between;
        &_text {
            text-align: start;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__swiper {
        display: flex;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.1); 
        backdrop-filter: blur(10rem); 
        -webkit-backdrop-filter: blur(10rem);
        border: 1rem solid rgba(255, 255, 255, 0.3); 
        width: 365rem;
        height: 302rem;
        position: absolute;
        right: 80rem;
        bottom: 20rem;
        padding: 20rem;
        :global(.swiper) {
            width: 100%;
        }
        :global(.swiper-pagination-bullet-active) {
            // width: 90rem!important;
        }
        &_slide {
            text-align: start;
            width: 365rem;
            h3 {
                font-size: 32rem;
                text-transform: uppercase;
                color: var(--black2);
                margin-bottom: 20rem;
            }
        }
        
        &_controls {
            margin-top: auto;
            display: flex;
            gap: 10rem;
            width: 100%;
            align-items: center;
            justify-content: space-between;
        }
        :global(.page-link) {
            display: none;
        }
    }

    @media screen and (max-width: 1024px) {
        
        margin-bottom: 120rem;
        &__content {
            flex-direction: column;
            h2 {
                max-width: 314rem;
            }
            &_map {
                width: 100%;
                height: 595rem;
            }
        }
    }

    @media screen and (max-width: 500px) {
        &__title {
            position: absolute;
        }
        &__content {    
            flex-direction: column;
            &_map {
                width: 100%;
                height: 400rem;
            }
        }
        &__swiper {
            width: 100%;
            margin-top: 20rem;
            position: unset;
            height: 172rem;
            padding: 0;
            &_slide {
                h3 {
                    font-size: 24rem;
                }
            }
            :global(.page-link) {
                display: inline-block;
                margin-top: 20rem;
            }
        }
    }
}