.real {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.text {
    font-size: 14rem;
    color: #666;
}
.text a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #666;
}
.custom {
    flex-shrink: 0;
    display: inline-block;
    width: 18rem;
    height: 18rem;
    background-color: transparent;
    vertical-align: sub;
    margin-right: 12rem;
    position: relative;
    border: 1rem solid #666;
}
.error {
    border-color: var(--pink);
}
.label {
    display: flex;
    align-items: center;
}
.root:nth-of-type(1) label {
    margin-bottom: 10rem;
}
.custom::before {
    content: '';
    display: inline-block;
    background-image: url(/images/icons/check.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 10rem;
    height: 10rem;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
    transition: .2s ease-in;
}

.real:checked + .custom::before {
    transform: translate(-50%, -50%) scale(1);
}

@media (max-width: 768px) {
    .label {
        align-items: flex-start;
    }
    .text {
        font-size: 14rem;
        line-height: 115%;
        display: inline-block;
    }
    .root:nth-of-type(2) label {
        margin-bottom: 20rem;
    }
}