.older {
    margin-bottom: 120rem;
    &__controls {
        max-width: 369rem;
        width: 100%;
        margin-top: auto;
        display: flex;
        align-items: center;
        margin-left: auto;
        gap: 10rem;
       
    }
    &__content {
        position: relative;
        :global(.swiper) {
            width: 100%;
            height: 672rem;
        }
        :global(.swiper-slide) {
            width: 100%;
            height: 672rem;
        }
        &_text {
            display: flex;
            flex-direction: column;
            z-index: 99;
            background-image: url(/images/home/older/older-text.svg);
            background-size: contain;
            background-repeat: no-repeat;
            width: 587rem;
            height: 673rem;
            position: absolute;
            top: 0;
            bottom: 0;
            right: -1rem;
            text-align: end;
            :global(.title-b) {
                margin-left: auto;
                max-width: 312rem;
                margin: 18rem 0 119rem auto;
            }
            :global(.paragraph) {
                margin-left: auto;
                max-width: 500rem;
            }
        }
    }
    &__mobile {
        display: flex;
        flex-direction: column;
        gap: 20rem;
        &_img {
            height: 624rem;
            width: 100%;
            &_slide {
                position: relative;
            }
        }
        &_text {
            z-index: 9;
            text-align: center;
            position: relative;
            z-index: 999;
            color: var(--text-gray);
            text-align: center;
            h2 {
                max-width: 208rem;
                margin: 0 auto;
                margin-bottom: 20rem;
            }
        }
        &_bg {
            position: absolute;
            top: 590rem;
            z-index: 8;
            width: 246rem;
            height: 246rem;
            left: 50%;
            transform: translateX(-50%);
        }
        &_controls {
            display: flex;
            align-items: center;
            gap: 10rem;
            margin: 20rem 0;
        }
    }
    @media screen and (max-width: 1280px) {
        margin-bottom: 165rem;
        &__content {
            :global(.swiper) {
                height: 598rem;
            }
            :global(.swiper-slide) {
                height: 598rem;
            }
            &_text {
                width: 523rem;
                height: 600rem;
                :global(.paragraph) {
                    font-size: 16rem;
                    max-width: 414rem;
                }
            }
        }
        &__controls {
            padding-bottom: 20rem;
            max-width: 330rem;
        }
    }
}