.doubleMobSlider {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40rem;
    :global(.swiper) {
        width: 100%;
        height: 450rem;
        :global(.swiper-slide) {
            width: 100%;
            height: 450rem!important;
        }
    }
}