.doubleMobSlider {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40rem;
    :global(.swiper) {
        width: 100%;
        height: 450rem;
        :global(.swiper-slide) {
            width: 100%;
            height: 450rem!important;
        }
    }
    &__controls {
        max-width: 330rem;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        position: absolute;
        bottom: 20rem;
        z-index: 999;
        gap: 10rem;
        align-items: center;
        justify-content: space-between;
        :global(.swiper-button-disabled) {
            outline-color: var(--main-white);
            svg {
                path {
                    fill: var(--main-white);
                }
            }
        }
        
        :global(.swiper-pagination-bullet) {
            background: var(--main-white)!important;
        }
    }
}

.text {
    text-align: justify;
}