.pyramidSliderWrapper {
    height: 540rem;
    .pyramidSlider {
        &__first {
            margin-bottom: 20rem;
            height: 440rem;
            z-index: 7;
            :global(.swiper-slide) {
                height: 440rem;
            }
        }
        &__second {
            z-index: 9;
            text-align: center;
        }
        &__bg {
            position: absolute;
            bottom: -65rem;
            z-index: 8;
            width: 246rem;
            height: 246rem;
            left: 50%;
            transform: translateX(-50%);
        }
        &__controls {
            z-index: 9;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20rem;
        }
    }
}