.features {
    height: 1301rem;
    &__content {
        max-width: 1230rem;
        width: 100%;
        margin: 0 auto;
        position: relative;
        height: 100%;
        &_item {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            gap: 32rem;
            position: absolute;
            &:nth-of-type(1) {
                top: 0;
                left: 0;
            }
            &:nth-of-type(2) {
                bottom: 0;
                right: 0;
            }
            &__img {
                position: relative;
                width: 585rem;
                height: 750rem;
                flex: 0 0 auto;
            }
            &__text {
                max-width: 585rem;
                h2 {
                    margin-bottom: 12rem;
                }
              
            }
        }
    }

    @media only screen and (max-width: 500px) {
        height: auto;
        &__content {
            padding: 0 20rem;
            &_item {
                position: unset;
                flex-direction: column;
                gap: 20rem;
                &__text {
                    order: 1;
                    h2 {
                        margin-bottom: 10rem;
                    }
                }
                &__img {
                    width: 100%;
                    height: 500rem;
                    order: 2;
                }
                &:nth-child(1) {
                    margin-bottom: 40rem;
                }
            }
        }
    }
}