.gallery {
    &__content {
        position: relative;
        &_img {
            width: 1321rem;
            height: 884rem;
            &_slide {
                width: 1321rem;
                height: 884rem;
            }
        }
        &_text {
            position: absolute!important;
            left: 32rem;
            bottom: 42rem;
            max-width: 746rem;
            :global(.paragraph) {
                color: var(--main-white);
            }
        }
        &_controls {
            max-width: 369rem;
            width: 100%;
            z-index: 9;
            position: absolute;
            bottom: 29rem;
            right: 26rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10rem;
            button {
                svg {
                    path {
                        fill: var(--black2);
                        transition: .3s ease-in;
                    }
                }
                outline: 1rem solid var(--main-white);
                background-color: var(--main-white);
                @media (hover: hover) {
                    &:hover {
                        outline: none;
                        svg {
                            path {
                                fill: var(--main-white);
                            }
                        }
                    }
                }
            }
            :global(.swiper-pagination-bullet) {
                background: var(--text-gray)!important;   
                opacity: 1;             
            } 
            :global(.swiper-pagination-bullet-active) {
                background: var(--main-white)!important;   
            } 
            :global(.swiper-button-disabled) {
                background: transparent;
                outline: 1rem solid var(--main-white);
                svg {
                    path {
                        fill: var(--main-white);
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1280px) {
        &__content {
            &_img {
                width: 100%;
                height: 900rem;
            }
            &_text {
                max-width: 1060rem;
                left: 50%;
                transform: translateX(-50%);
                bottom: 60rem;
            }
            &_controls {
                bottom: -60rem;
            }
        }
    }

    @media screen and (max-width: 500px) {
        :global(.container) {
            padding: 0;
        }
        &__content {
            &_img {
                width: 100%;
                height: 500rem;
                &_slide {
                    width: 100%;
                    height: 500rem;
                }
            }
            &_text {
                transform: none;
                padding: 0 20rem;
                max-width: 350rem;
                position: unset!important;
                margin-top: 20rem;
                :global(.paragraph) {
                    color: var(--text-gray);
                    text-align: center;
                }
            }
            &_controls {
                padding: 0 20rem;
                right: unset;
                bottom: unset;
                top: 446rem;
                :global(.swiper-pagination-bullet-active) {
                    width: 90rem!important;               
                } 
            }
        }
    }
}