.apartments {
    &__content {
        position: relative;
        &_text {
            z-index: 99;
            background-image: url(/images/home/apartments/apartments-text.svg);
            background-size: contain;
            background-repeat: no-repeat;
            width: 587rem;
            height: 602rem;
            position: absolute;
            top: -1rem;
            bottom: -1rem;
            left: -1rem;
            text-align: end;
            :global(.title-b) {
                position: absolute;
                margin-bottom: 0;
                top: 50%;
                transform: translateX(-50%) rotate(-90deg);
                left: 0;
            }
            :global(.paragraph) {
                margin-left: auto;
                max-width: 500rem;
            }
        }
        &_bottom {
            display: flex;
            gap: 40rem;
        }
    }
    &__mobile {
        width: 100%;
        text-align: center;
        &_img {
            height: 440rem;
        }
        &_text {
            margin-top: 20rem;
            position: relative;
            z-index: 999;
        }
        &_controls {
            margin: 20rem 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10rem;
        }
        &_bg {
            position: absolute;
            top: 405rem;
            z-index: 8;
            width: 246rem;
            height: 246rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__controls {
        margin-left: auto;
        max-width: 500rem;
        width: 100%;
    }
    &__slider_text {
        margin: 20rem 0 0;
        height: auto!important;
        max-width: 760rem;
        :global(.paragraph) {
            font-size: 16rem;
        }
    }
    &__slider_image {
        width: 100%;
        height: 599rem;
        :global(.swiper-slide) {
            width: 100%;
            height: 599rem;
        }   
    }

    @media screen and (max-width: 1280px) {
        &__content {
            &_text {
                width: 202rem;
                height: 600rem;
                top: 0;
            }
        }
        &__slider_image {
            height: 597rem;
        }
    }
}