.surroundings {
    margin-bottom: 120rem;
    &__content {
        &_cards {
            display: flex;
            gap: 20rem;
            div {
                display: flex;
                flex-direction: column;
            }
        }
        img {
            &:nth-child(1) {
                width: 650rem;
                height: 799rem;
                object-fit: cover;
            }
            &:nth-child(2) {
                width: 650rem;
                height: 632rem;
                object-fit: cover;
                margin-top: auto;
            }
        }
    }
    &__logo {
        margin-top: 20rem;
        position: relative;
        width: 100%;
        height: 281rem;
    }

    @media screen and (max-width: 1280px) {
        &__content {
            :global(.paragraph) {
                font-size: 16rem;
            }
            img {
                &:nth-child(1) {
                    width: 610rem;
                    height: 749rem;
                }
                &:nth-child(2) {
                    width: 610rem;
                    height: 627rem;
                }
            }
        }
    }

    @media screen and (max-width: 500px) {
        &__content {
            h2 {
                position: absolute;
            }
            img {
                &:nth-child(1) {
                    width: 165rem;
                    height: 314rem;
                }
                &:nth-child(2) {
                    width: 165rem;
                    height: 368rem;
                }
            }
            &_cards {
                flex-wrap: wrap;
                img {
                    margin-top: auto;
                }
                div {
                    display: contents;
                    img {
                        order: 0;
                    }
                    p {
                        order: 1;
                    }
                }
            }
        }
        &__logo {
            display: none;
        }
    }
}