.map {
    flex-shrink: 0;
    overflow: hidden;
    user-select: none;
    touch-action: pan-x; /* Разрешаем только горизонтальные жесты */
    position: relative;
    width: 820rem;
    height: 600rem; /* Или любая нужная высота / 100vh */
    transition: .4s ease-in-out;
}

.mapContent {
    display: inline-block;
    user-select: none;
    touch-action: pan-x;
    height: 100%;
    position: relative;
    transition: 0.3s ease-in !important;
}

.mapContent img {
    display: block;
    height: 100%;        /* Картинка занимает всю высоту контейнера */
    width: auto;         /* Ширина пропорционально высоте */
    max-width: none;
    pointer-events: none;
}

.content {
    display: flex;
    align-items: stretch;
    gap: 20rem;
}
.text {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20rem 0;
}
.swiper {
    transition: .3s ease-in;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10rem); 
    -webkit-backdrop-filter: blur(10rem);
    border: 1rem solid rgba(255, 255, 255, 0.3); 
    width: 365rem;
    height: 302rem;
    position: absolute;
    right: 80rem;
    bottom: 20rem;
    padding: 20rem;
}
.swiper :global(.swiper) {
    width: 100%;
}
.pinTitle {
    font-size: 32rem;
    text-transform: uppercase;
    color: var(--black2);
    margin-bottom: 20rem;
}
.slide {
    text-align: start;
    width: 365rem;
}
.controls {
    transition: .3s ease-in;
    margin-top: auto;
    display: flex;
    gap: 5rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.controls :global(.swiper-pagination-bullet) {
    width: auto!important;
    min-width: 10rem;
}
.controls :global(.swiper-pagination) {
    gap: unset!important;
    overflow: hidden;
}

.location :global(.page-link) {
    display: none;
}

@media (max-width: 1280px) {
    .text {
        padding: 0;
    }
    .content {
        flex-direction: column;
    }
    .map {
        width: 100%;
        touch-action: none;
    }
    .title {
        max-width: 314rem;
    }
}
@media (max-width: 500px) {
    .location {
        margin-bottom: 60rem;
    } 
    .swiper {
        left: 50%;
        transform: translateX(-50%);
        max-width: 325rem;
        padding: 15rem;
        width: 100%;
        height: auto;
        padding-bottom: 15rem;
    }
    .pinTitle {
        font-size: 24rem;
    }
    .location :global(.page-link) {
        display: inline-block;
        margin-top: 20rem;
    }
    /* .title {
        position: absolute;
    } */
}