.btn {
    border: 1rem solid var(--black2);
    border-radius: 20rem;
    padding: 10rem 0;
    text-transform: uppercase;
    color: var(--black2);
    transition: .2s ease-in;
    &:hover {
        background-color: var(--black2);
        color: var(--main-white);
    }
}