.doubleXSlider {
    display: flex;
    height: 598rem;
    position: relative;
    &__text {
        left: 538rem;
        top: -1rem;
        bottom: -2rem;
        position: absolute;
        width: 405rem;
        height: 602rem;
        z-index: 99;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(/images/doubleXSlider/cross.svg);
        background-size: contain;
        background-repeat: no-repeat;
        &_slider {
            height: 100%;
        }
        &_slide {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        :global(.paragraph) {
            max-width: 240rem;
            text-align: center;
            font-size: 16rem;
            margin: 0 auto;
        }
    }
    &__controls {
        max-width: 494rem;
        width: 100%;
        text-align: end;
        display: flex;
        align-items: center;
        gap: 10rem;
        margin-top: 20rem;
        margin-left: auto;
    }
    &_slide {
        height: 600rem!important;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &_first {
        flex-shrink: 0;
        width: 740rem!important;

        :global(.swiper-slide) {
            width: 740rem!important;
        }
    }
    &_second {
        flex-shrink: 0;
        width: 580rem!important;
        :global(.swiper-slide) {
            width: 580rem!important;
        }
    }

    @media screen and (max-width: 1280px) {
        height: 496rem;
        &_first {
            width: 876rem!important;
            :global(.swiper-slide) {
                width: 876rem!important;
            }
        }
        &_second {
            width: 364rem!important;
            :global(.swiper-slide) {
                width: 364rem!important;
            }
        }
        &_slide {
            height: 498rem!important;
        }
        &__text {
            height: 498rem;
            width: 335rem;
            left: 708rem;
            :global(.paragraph) {
                max-width: 198rem;
            }
        }
    }
}