.root {
    background-size: cover;
    aspect-ratio: 1440 / 900;
    span {
        color: var(--pink);
    }
}

.content {
    padding-top: 124rem;
    max-width: 685rem;
    text-align: start;
    margin-left: auto;
    img {
        width: 685rem;
        height: 137rem;
        margin-bottom: 30rem;
    }
    p {
        font-size: 76rem;
        text-transform: uppercase;
        color: var(--main-white);
        text-align: end;
    }
}

@media (max-width: 500px) {
    .root {
        aspect-ratio: unset;
        height: 100vh;
        background-position-x: 72%;
    }
    .content {
        padding-top: 100rem;
        img {
            width: 350rem;
            height: 70rem;
            margin-bottom: 10rem;
        }
        p {
            font-size: 31rem;
            text-align: end;
        }
    }
}