.about {
    &__content {
        padding: 131rem 0;
        max-width: 1138rem;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    @media screen {
        &__content {
            padding: 60rem 20rem;
        }
    }
}